@import "./dark.scss";
@import "./element-plus.scss";

// 灰色模式
.html-grey {
	filter: grayscale(100%);
}

/* nprogress样式 */
#nprogress .bar {
	background: #7963f9 !important;
}
#nprogress .spinner-icon {
	border-top-color: #7963f9 !important;
	border-left-color: #7963f9 !important;
}
#nprogress .peg {
	box-shadow:
		0 0 10px #7963f9,
		0 0 5px #7963f9 !important;
}

/* scroll bar */
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: #dddee0;
	border-radius: 20px;
	box-shadow: inset 0 0 0 white;
}

/*
  进入和离开动画可以使用不同
  持续时间和速度曲线。
*/
.slide-fade-enter-active {
	transition: all 0.5s ease-out;
}

.slide-fade-leave-active {
	transition: all 0.5s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
	transform: translateX(20px);
	opacity: 0;
}

html,
body,
#app {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}
