@use "element-plus/theme-chalk/src/dark/css-vars.scss" as *;

:root {
	--text-color: #333;
	--bg: #ffffff;
}

.dark {
	--text-color: #fff;
	--bg: #141414;
	color-scheme: dark;
}

body {
	color: var(--text-color);
	background-color: var(--bg);
}

.el-tooltip__trigger:focus-visible {
	outline: unset;
}
