:root {
	--el-menu-bg-color: var(--theme-bg);
	--elSubMenu-item-hover-color: #f6f0ad;
	--elMenu-item-hover-color: #f6f0ad;
	--el-menu-active-color: #8400ff;
	--el-menu-hover-text-color: #8400ff;
}

.dark {
	--elSubMenu-item-hover-color: #262626;
	--elMenu-item-hover-color: #262626;
}

.el-header {
	--el-header-padding: "none";
}

.el-tooltip__trigger:focus-visible {
	outline: unset;
}

.el-tooltip__trigger {
	outline: unset;
}

.el-menu {
	border-right: none;
	.el-menu-item {
		&:hover {
			background-color: var(--elMenu-item-hover-color) !important;
			color: var(--el-menu-hover-text-color) !important;
		}
	}
	.el-sub-menu .el-sub-menu__title {
		&:hover {
			background-color: var(--elSubMenu-item-hover-color) !important;
			color: var(--el-menu-hover-text-color) !important;
		}
	}
}
